/* All styles for your header Components live here */

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.header-container .right {
  width: 90%;
}

.image-thumbnail img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  align-items: center;
}

.title h4 {
  font-weight: 600;
  margin: 0;
}

.title p {
  color: #7b8b9a;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  margin-left: 5px;
}

.header-content {
  font-size: 1.4rem;
}
.header-content p {
  margin: 5px 0;
  font-size: 1.4rem;
}
